<h1><%= @project.name %></h1><br><br>

<%= link_to "Edit Project", edit_project_path(@project) %><br>

<%= link_to "Delete Project", project_path(@project), :method => :delete %><br>
<%= link_to "All Projects", projects_path %><br>
